certifi==2025.6.15 ; python_version >= "3.9" and python_version < "3.14"
charset-normalizer==3.4.2 ; python_version >= "3.9" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.14" and platform_system == "Windows"
idna==3.10 ; python_version >= "3.9" and python_version < "3.14"
importlib-metadata==8.7.0 ; python_version >= "3.9" and python_version < "3.10"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.14"
markdown==3.8.2 ; python_version >= "3.9" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.9" and python_version < "3.14"
platformdirs==4.3.8 ; python_version >= "3.9" and python_version < "3.14"
prompt-toolkit==3.0.51 ; python_version >= "3.9" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.9" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.14"
requests==2.32.4 ; python_version >= "3.9" and python_version < "3.14"
rich-click==1.8.9 ; python_version >= "3.9" and python_version < "3.14"
rich==14.0.0 ; python_version >= "3.9" and python_version < "3.14"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.14" and python_version >= "3.9"
ruamel-yaml==0.18.14 ; python_version >= "3.9" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.9" and python_version < "3.14"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.14"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.14"
typer==0.15.4 ; python_version >= "3.9" and python_version < "3.14"
typing-extensions==4.14.0 ; python_version >= "3.9" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.9" and python_version < "3.14"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "3.14"
zipp==3.23.0 ; python_version >= "3.9" and python_version < "3.10"
